#prompt-img {
  width: 60px;
  height: 60px;
}

.prompt-content {
  text-align: center;
  align-content: flex-start;
  display: inline-flex;
}

.preferences-form-actions {
  margin-top: 8px;
  float: right;
  padding-right: 20px;
}

.image-container {
  display: inline-block;
  padding-top: 20px;
  padding-left: 30px;
}

.form-control-input-container {
  margin-left: 20px;
  display: inline-block;
  text-align: left;
  padding-top: 15px;
}
.form-control-label {
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
}
.form-control-text {
  border: 1px solid #333;
  width: 280px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.form-control-text:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-offset: -2px;
}

.btn {
  width: 78px;
  height: 22px;
}

.toolbar-header {
  -webkit-app-region: drag;
}
